@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
:root{
    --cor0: #09060C;
    --cor1: #0A1123;
    --cor2: #131929;
    --cor3: #A9BFE4;
    --cor4: #f5dcd1;
}
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor2);
}
nav{
    background-color: var(--cor0);
    text-align: center;
    font-family: "Source Code Pro", serif;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.527);
}
nav>ul{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    
    margin: auto;
    max-width: 1000px;
    height: 5vh;
}
nav>ul>li{
    flex: 1 1 100px;
    align-self: center;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: var(--cor3);
}
nav>ul>li>a{
    border-right: solid;
    border-left: solid;
    padding: 3px;
    border-width: 2px;
}
a:hover{
    color: var(--cor4);
    transition-duration: 0.3s;
    font-size: 1.1em;
}
nav>div{
    padding: 20px;
    background-color: var(--cor1);
    font-family: "Source Code Pro", serif;
    font-size: 2em;
    color: var(--cor4);
    text-align: left;
}
#intro{
   background-image: url('imagens/pinus.png'); 
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center bottom;
   box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.589);
   padding: 150px 10px;
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
}
#intro > img{
    flex: 0 0 auto;
    align-self: center;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgb(0, 0, 0); 
}
#topicos{
    font-size: 1.5em;
    color: var(--cor4); 
    background-color: var(--cor1);
    border-radius: 10px;
    margin: 20px;
    padding:  60px;
    text-align: center;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.425);
    font-family: "Source Code Pro", serif;
}
#topicos1{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-content: center;
    height: 100%;
}
#sobre{
    background-color: var(--cor4);
    border-radius: 10px;
    font-size: 1.2em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.486);
    max-width: 900px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-indent: 30px;
    margin: 60px auto;
    padding: 50px 150px;
    font-family: "Source Code Pro", serif;
}
#sobre>div>h1{
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
#Fotografias{
    font-size: 1.5em;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.493);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
#Fotografias>h1{
    text-align: center;
}
#Fotografias>img{
    width: 90vw;
    max-width: 900px;
    margin: 30px;
}
#linkimg{
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    width: 300px;
    height: 5vh;
}
#linkimg>li{
    flex: 0 0 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
}
#linkimg>li:hover{
    color: var(--cor4);
    transition-duration: 0.3s;
    cursor: pointer;
    background-color: var(--cor3);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.507);
}
.escolha{
    background-color: var(--cor4);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.507);
}
#conhecimentos{
    background-color: var(--cor4);
    border-radius: 10px;
    margin: 30px auto;
    padding: 30px;
    font-size: 1.5em;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.514);
    max-width: 900px;
    font-family: "Source Code Pro", serif;
}
#conhecimentos>div>h1{
    padding-bottom: 40px;
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
}
#complemento{
    text-align: center;
}
p#gramado{
    text-align: right;
    color: white;
    font-size: 1.2em;
}
footer{
    background-color: #09060C;
    color: var(--cor4);
    border-top: 1px solid black;
    font-size: 0.6em;
    padding: 10px 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}


