@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
:root{
    --cor0: #09060C;
    --cor1: #0A1123;
    --cor2: #131929;
    --cor3: #A9BFE4;
    --cor4: #f5dcd1;
}
.inline{
    display: inline-block;
    vertical-align: middle;
}
body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor2);
}
nav{
    background-color: var(--cor0);
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-family: "Source Code Pro", serif;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.527);
}
nav>ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: auto;
    max-width: 700px;
}
li{
    list-style-type: none;
}
nav>ul>li>a{
    border-right: solid;
    border-left: solid;
    padding: 3px;
    border-width: 2px;
}
a{
    text-decoration: none;
    color: var(--cor3);
}
a:hover{
    color: var(--cor4);
    transition-duration: 0.2s;
}
header>div{
    padding: 20px;
    background-color: var(--cor1);
    font-family: "Source Code Pro", serif;
    font-size: 2em;
    color: var(--cor4);
}
#intro{
   background-image: url('imagens/pinus.png'); 
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center bottom;
   box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.589);
   text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}
#intro > img{
    border-radius: 50%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.425);
}
#complemento{
    /*
    background-color: var(--cor4);
    border-radius: 10px;
    margin: 60px auto 30px auto;
    padding: 20px 10% 20px 10%;
    font-size: 1.5em;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.514);
    max-width: 600px;*/
}
#sobremim{
    background-color: var(--cor4);
    border-radius: 10px;
    margin: 30px auto 0px auto;
    padding: 20px 10% 100px 10%;
    font-size: 1.5em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.486);
    max-width: 600px;
}
#projetos{
    margin: 30px auto 0px auto;
    font-size: 1.5em;
    height: 300px;
    padding-top: 10%;
    padding-bottom: 10%;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.493);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.589);
    background-image: url('imagens/matria.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}
#conhecimentos{
    background-color: var(--cor4);
    border-radius: 10px;
    margin: 30px auto 0px auto;
    padding: 20px 10% 20px 10%;
    font-size: 1.5em;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.514);
    max-width: 600px;
}
h1{
    padding-top: 100px;
    padding-bottom: 30px;
    text-align: center;
}
.sobremim{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin: auto;
    text-indent: 30px;
}
#desenvolv{
    margin-top: 100px;
}
#topicos{
    font-size: 1.5em;
    color: var(--cor4); 
    background-color: var(--cor1);
    border-radius: 10px;
    margin: 20px;
    padding: 20px 70px 20px 20px;
    text-align: center;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.425);
    font-family: "Source Code Pro", serif;
}
div#complemento>ul{
    text-align: center;
}
div#Fotografias{
    margin: 0px auto 0px auto;
    font-size: 1.5em;
    padding-top: 20px;
    padding-bottom: 50px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.493);
}
ul#linkimg>li{
    display: inline;
}
#linkimg{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 200px;
}
iframe{
    display: block;
    width: 50%;
    aspect-ratio: 1/1;
    margin: 10px auto 0px auto;
    padding: 0px;
}
p#gramado{
    text-align: right;
    color: white;
    max-width: 900px;
    margin: 30px auto 0px auto;
    padding: 0px;
}
footer{
    font-size: 0.5em;
    padding-left: 5%;
}


